@import '../../../variables.scss';


.submission-form-container {
     width: 75%;
     margin: 0 auto;
     min-width: 300px;

    .submission-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    


        .button {
            margin-top: 1rem;
        }
        
        .fa-paper-plane, .fa-angle-double-left {
            margin: 0 0.5rem;
        }
        
        textarea {
            border-radius: 0px 0px 5px 5px;
        }

            input {
                margin: 0 0 1rem 0;
                border-radius: 0px 0px 5px 5px;
            }
                
            label {
                width: 100%;
                background-color: $c-two;
                color: $c-one;
                border-radius: 5px 5px 0px 0px;
            }
        
        .form-btns {
            display: flex;
            flex-direction: column;
            width: 210px;
            align-self: center;

            a {
                text-decoration: none;
                color: inherit;
            }
        }
        
    }
}
