@import '../../../variables.scss';

.password-reset {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $light-gray;
    margin: 1rem;
    padding: 1rem;

    .auth-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        max-width: 500px;
    
        input {
            margin: 1rem;
        }

        input.submis {
            margin: 1rem;
            width: fit-content;
        }
    
    }
    
    .fa-window-close {
        font-size: 1.2rem;
    }
    
    .reset-buttons {
        display: flex;
        align-items: center;
    }
    
    .is-6 {
        margin: 1rem;
    }
}
