@import '../../variables.scss';

.instructions-img-container {
    min-width: 300px;
    width: 70%;
    object-fit: cover;
    padding: 1rem 0;
}

.instructions-text {
    display: flex;
    align-items: center;

    .checkbox.incomplete {
        font-size: 1.5rem;
        margin: 0 1rem;
        color: $c-three;
    }

    .checkbox.complete {
        font-size: 1.5rem;
        margin: 0 1rem;
        color: darkgreen;
    }
}

.proceed-button {
    display: flex;
    align-items: center;

    a {
        text-decoration: none;
        color: white;
    }

    .fa-angle-double-right {
        margin-left: 0.2rem;
    }
}

.enabled {
    opacity: 1;
}

.disabled {
    opacity: 0.5;
}


#instructions-intro {
    color: blue;
}    
