@import '../../variables.scss';

.not-authenticated-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .arrow-down {
        width: 0; 
        height: 0; 
        border-left: 70rem solid transparent;
        border-right: 70rem solid transparent;
        border-top: 50rem solid $c-two;
        z-index: -1;
    }

    .not-authenticated-msg-container {
        box-shadow: 2px 2px 2px 2px $c-three;
        border: 1px solid $c-three;
        font-size: 2rem;
        width: 90%;
        max-width: 1000px;
        min-width: 310px;
        margin: 32vh auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 5px;
        z-index: 1;
        background-color: white;
    
        .buttons-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
    
            .button {
                width: 100px;
                margin: 0.5rem;
            }
        }
    }
}
