@import '../../variables.scss';

.not-authenticated-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(350deg, rgba(255,255,255,1) 0%, rgba(240,223,224,0.2) 10%, rgba(149,29,31,0.2) 40%, rgba(149,29,31,0.3) 60%, rgba(149,29,31,0.4) 80%, rgba(149,29,31,0.5) 100%);
    width: 100%;
    height: 95vh;

    .not-authenticated-msg-container {
        padding: 0.5rem;
        border: 1px solid $c-three;
        font-size: 2rem;
        width: 90%;
        max-width: 1000px;
        min-width: 285px;
        margin: 35vh auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 5px;
        z-index: 1;
        background-color: white;
    
        .buttons-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
    
            .button {
                width: 100px;
                margin: 0.5rem;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .not-authenticated-msg-container {
        font-size: 1.25rem !important;
    }
}