@import '../../variables.scss';

nav {
    box-shadow: 0px 0px 5px 1px $c-one;
    margin-bottom: 5px;

   height: $header-height;

    .navbar-burger {
        top: 0;
        right: 0;
        position: absolute;
        margin: 0.5rem;
        border: none;
        background-color: $c-two !important;
        color: $c-one;
    }

    a:hover, a:active {
        color: $c-one !important;
        font-family: "Lobster Two", cursive;
        font-weight: bold;
    }

    a:visited {
        color: $c-one !important;
    }
    
    padding: 0.75rem;
}