@import '../../variables.scss';

nav {
    -webkit-box-shadow: inset 0px -5px 3px -3px #951D1F; 
    box-shadow: inset 0px -5px 3px -3px #951D1F;
    padding: 0.75rem;
    height: $header-height;

    #sign-up-button-nav:hover {
        color: white !important;
    }

    .navbar-end {
      margin-right: 2rem;
      .buttons {
          a {
              width: 80px;
          }
      }
    }

    .navbar-burger {
        top: 0;
        right: 0;
        position: absolute;
        margin: 0.5rem;
        span {
            border-top: 2px solid $c-one;
        }
        border: none;
        border-radius: 5px;
        background-color: $c-three;
        color: $c-one;
    }

    a:hover, a:active {
        color: $c-one !important;
        font-family: "Lobster Two", cursive;
        font-weight: bold;
    }

    a:visited {
        color: $c-one !important;
    }
    

    img {
        width: 100px;
    }
}