@import '../../../variables.scss';

.sign-up-log-in-page {
    width: 90%;
    background-color: white;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px 2px $c-three;
    margin: 20vh 1rem;
    border-radius: 5px;
    border: 1px solid $c-three;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 500px;

    input {
        margin: 1rem;
    }

    .button {
        line-height: 2;
        width: 80px;
    }

          .login-redirect {
            font-size: 0.9rem;
            color: $c-five;
            text-decoration: underline
        }
}