@import '../../variables.scss';



.all-editors-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(308px, 1fr));
    width: 100%;
    justify-items: center;

    .loading-spinner {
        font-size: 3rem;
        border: none !important;
    }
}

.message-to-current-editor {
    margin: 0 1rem 1rem 1rem;
    color: $c-one;
    font-style: italic;
}

.message-to-current-editor-heading {
    margin: 0.5rem 0 0.1rem 0 !important;
}