@import '../../variables.scss';



.all-editors-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;

    .loading-spinner {
        font-size: 3rem;
        background-color: #00000000 !important;
    }
}

.message-to-current-editor {
    margin: 0 1rem 1rem 1rem;
    color: $c-one;
    font-style: italic;
}

.message-to-current-editor-heading {
    margin: 0.5rem 0 0.1rem 0 !important;
}